article {
    font-family: "IBM Plex Mono", SFMono-Regular, Consolas, Menlo, monospace;
    letter-spacing: -.015rem;
}

/* Mobile device font optimizations. */
@media (max-device-width: 420px) {
    .md-typeset {
        font-size: .55rem;
    }
}

@media (max-device-width: 375px) {
    .md-typeset {
        font-size: .525rem;
    }
}

@media (max-device-width: 360px) {
    .md-typeset {
        font-size: .475rem;
    }
}

/* Fixed Headers */
div .md-typeset__table {
    max-width: 100%;
    max-height: 30rem;
    overflow: hidden;
    position: relative;
}

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 0;
}

tbody td:first-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    z-index: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
    left: 0;
    z-index: 1;
}


/* Just to display it nicely: */

thead th {
    background: #000;
    color: #FFF;
    /* Ensure this stays above the emulated border right in tbody th {}: */
}

tbody td:first-child {
    background: #FFF;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
    box-shadow: 1px 0 0 0 #888;
}

table {
    border-collapse: collapse;
    max-height: 30rem;
}

.md-typeset table:not([class]) th {
    background-color: #888888;
}

