{% extends "base.html" %}
{% block extrahead %}

    {% set img = config.site_url + "/static/img" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ img }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ img }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ img }}/favicon-16x16.png">
    <link rel="manifest" href="{{ img }}/site.webmanifest">
    <link rel="mask-icon" href="{{ img }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    {% set image = img + "/flaticon/storytelling-social.png" %}
    {% set title = config.site_name %}
    {% if page and page.meta and page.meta.title %}
        {% set title = title ~ " - " ~ page.meta.title %}
    {% elif page and page.title and not page.is_homepage %}
        {% set title = title ~ " - " ~ page.title | striptags %}
    {% endif %}
    <meta property="og:type" content="book"/>
    <meta property="og:book:author" content="William Shakespeare">
    <meta property="og:title" content="{{ title|e }}"/>
    <meta property="og:description" content="{{ config.site_description|e }}"/>
    <meta property="og:image" content={{ image }}>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:alt" content="Storytelling.">
{% endblock %}
{% block fonts %}
    {{ super() }}
    <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,700;1,400&display=fallback"
            rel="stylesheet"
    >
{% endblock %}
